<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="<%= siteLang %>" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="<%= siteLang %>" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="<%= siteLang %>" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="<%= siteLang %>" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><% if (typeof pageTitle == 'object' && pageTitle) { %><%= pageTitle %> - <% } %><%= siteName %></title>
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body<%- (typeof pageID != "undefined" ? ' id="' + pageID + '"' : '' ) %><%- (typeof pageClass != "undefined" ? ' class="' + pageClass + '"' : '' ) %>>
    <div class="app">
        <header id="header" class="app-header navbar" role="menu">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><strong>TNC</strong>Panel</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li><a href="#"><i class="fa fa-bar-chart"></i> Reports</a></li>
                    <li><a href="#"><i class="fa fa-cogs"></i> Components</a></li>
                    <li><a href="faq.html"><i class="fa fa-book"></i> FAQ</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> Settings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="login.html">Login</a></li>
                            <li><a href="sign-up.html">Sign-up</a></li>
                            <li><a href="reset-password.html">Forgot Password?</a></li>
                        </ul>
                    </li>
                    <li class="dropdown profile">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <img class="avatar" alt="Administrator" src="https://avatars0.githubusercontent.com/u/119868"/>
                            Administrator <i class="fa fa-fw fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="user-profile.html"><i class="fa fa-user fa-fw"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                            <li><a href="#"><i class="fa fa-question-circle fa-fw"></i> Help</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form search navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn" type="submit"><i class="fa fa-search fa-fw"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </header> <!-- #header -->