       <aside id="aside" class="app-aside">
            <div class="aside-wrapper">
                <div class="sidebar">
                    <ul class="nav">
<% for(var i=0; i < navigation.length; i++) { %>
<% if (navigation[i].type == "header") { -%>
                        <li class="header"><%= navigation[i].title %></li>
<% } else if (navigation[i].type == "divider") { -%>
                        <li class="divider"></li>
<% } else { -%>
                        <li<% if (typeof navigation[i].class != 'undefined') { %> class="<%= navigation[i].class %>"<% } %>>
                            <a href="<%= navigation[i].link %>">
                                <% if (typeof navigation[i].child != 'undefined') { %><span class="nav-caret"><i class="fa fa-caret-down"></i></span><% } %>
                                <span class="nav-icon"><i class="fa fa-fw <% if (typeof navigation[i].icon != 'undefined') { %><%= navigation[i].icon %><% } else { %>fa-file<% } %>"></i></span>
                                <span class="nav-text"><%= navigation[i].title %></span>
                            </a>
<% if (typeof navigation[i].child != 'undefined') { var children = navigation[i].child; %>
                            <ul class="nav nav-sub">
<% for(var c=0; c < children.length; c++) { %>
                                <li>
                                    <a href="<%= children[c].link %>">
                                        <% if (typeof children[c].child != 'undefined') { %><span class="nav-caret"><i class="fa fa-caret-down"></i></span><% } %>
                                        <span class="nav-text"><%= children[c].title %></span>
                                    </a>
<% if (typeof children[c].child != 'undefined') { var grchildren = children[c].child; %>
                                    <ul class="nav nav-sub">
<% for(var g=0; g < grchildren.length; g++) { %>
                                        <li>
                                            <a href="<%= grchildren[g].link %>">
                                                <span class="nav-text"><%= grchildren[g].title %></span>
                                            </a>
                                        </li>
<% } %>
                                    </ul>
<% } %>
                                </li>
<% } %>
                            </ul>
<% } %>
                        </li>
<% } -%>
<% } %>
                    </ul>
                </div>
            </div>
        </aside> <!-- #aside -->
